// COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #009c82;

$color-secondary: #363640;
$color-cookieBox: rgba($color-secondary, .85);

$color-ecom: #ffb400;
$color-ecomHover: darken($color-ecom, 5%);

$color-gunmetal: #505050;
$color-gunmetalHover: darken($color-gunmetal, 5%);

$color-coolgrey: #787878;

$color-grey-divider: #eee;
$color-grey: #ddd;
$color-greyHover: #ccc;

$color-red: #f54100;

$color-lightgrey: #f1f1f1;
$color-lightgreyHover: #f8f8f8;

$color-silver: #b5b5b5;

