// FONTS
@font-face {
    font-family: WILOPLUSFM;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(#{$font-path}WILOPlusFMReg.woff2) format('woff2'),
    url(#{$font-path}WILOPlusFMReg.woff) format('woff');
}
