html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

html, input, textarea, select, button {
    font-size: $font-md;
    line-height: 1.42857;
    font-family: WILOPLUSFM;
}

input, textarea, select, button {
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        outline: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

::-ms-clear {
    display: none;
}

ul {
    list-style-type: none;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}