        <!--DO NOT REMOVE-->
        {{{ patternLabFoot }}}

        <!-- WILO CONFIG MOCK -->
        <script type="application/javascript">
        if(window.wiloconfig === undefined) {
            var wiloconfig = {
                country : {},
                replacementguide: {}
            };
        }
        </script>
        <!--[if IE ]>
            <script src="../../assets/js/polyfill.bundle.js?{{cacheBuster}}"></script>
        <![endif]-->
        <script src="../../assets/js/script.bundle.js?{{cacheBuster}}"></script>
    </body>
</html>
